.post-author {
    color: #135d69;
    float: left;
}

.post-body {
    margin-top: 20px;
}

.post-title {
    margin-top: -30px;
    margin-bottom: 10px;
}

.post-date {
    color: #135d69;
    float: left;
}

.post {
    width: 300px;
    height: auto;
    margin: 20px 20px 20px 20px;
    border: solid #42464b 2px;
    padding: 20px 20px;
    float: left;
}

.post link {
    margin-bottom: 100px;
}

.posts-view h1{
    margin: auto;
    width: 200px;
    font-size: 2.2em;
    position: relative;
    padding: 1%;
    display: block;
}
